---
import Layout from '@layouts/Layout.astro'
import Head from '@components/Head.astro'
import Repo from '@components/Repo.astro'

let repos: { html_url: string; full_name: string; stargazers_count: number; language: string; description: string; fork: boolean; created_at: string }[] = await fetch('https://api.github.com/users/notgabry/repos?sort=stars&order=desc')
    .then((a) => a.json())
    .catch(() => [])

if (repos.length) {
    repos = repos.filter((a) => a.stargazers_count && !a.fork)
    repos.sort((a, b) => {
        const comparison = b.stargazers_count - a.stargazers_count

        if (comparison == 0) {
            return new Date(b.created_at).getTime() - new Date(a.created_at).getTime()
        }

        return comparison
    })
}
---

<Layout title="notgabry">
    <main class="mt-10 mx-6">
        <header class="text-center mb-9 font-young-serif">
            <Head description="â­ my best github projects" />
        </header>

        {
            repos.length ? (
                repos.map((e, i) => {
                    return <Repo name={e.full_name} language={e.language} description={e.description} stars={e.stargazers_count} url={e.html_url} />
                })
            ) : (
                <section class="bg-red-500 border border-red-800 text-p-text text-center rounded-md max-w-md py-2 mx-auto font-space">
                    <h3 class="font-bold text-2xl">Load Error</h3>
                    <p class="text-md font-space">Cannot contact github.com, please retry later</p>
                </section>
            )
        }
    </main>
</Layout>
