---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
import LastFmAPI from '@modules/Lastfm'
import Head from '@components/Head.astro'

import type { Lastfm } from '@modules/Spotify'

const config = new URL(Astro.url)

// a friend of mine wanted to get his stats
let user = 'notgabry'

if (config.searchParams.get('centodiping') == 'true') user = 'centodiping'

type artists = {
    topartists: {
        artist: {
            name: string
            playcount: number
            url: string
            image: {
                size: 'large' | 'medium' | 'small'
                '#text': string
            }[]
        }[]
    }
}
type tracks = {
    toptracks: {
        track: {
            name: string
            playcount: number
            url: string
            artist: {
                name: string
            }
            image: {
                size: 'large' | 'medium' | 'small'
                '#text': string
            }[]
        }[]
    }
}

const artists = await LastFmAPI<artists>({ user, isOverall: true, method: 'user.gettopartists', limit: 6 })
const songs = await LastFmAPI<tracks>({ user, isOverall: true, method: 'user.gettoptracks', limit: 6 })
const recent = await LastFmAPI<Lastfm>({ user, isOverall: true, method: 'user.getrecenttracks', limit: 8 })
---

<Layout title="notgabry">
    <main class="mt-10 max-w-5xl mx-auto space-y-10 px-4">
        <Head description="My latest activity on Spotify" />

        <section class="w-full h-auto">
            <h1 class="text-xl font-bold">Recent Songs</h1>

            <div class="grid gap-x-4 gap-y-4 md:grid-cols-2 pt-3">
                {
                    recent.recenttracks.track.slice(0, 8).map((e) => {
                        return <Card title={e.name} sub={e.artist['#text']} url={e.url} image={e.image[3]['#text']} />
                    })
                }
            </div>
        </section>

        <section class="w-full h-auto">
            <h1 class="text-xl font-bold">Top Artists</h1>

            <div class="grid gap-x-4 gap-y-4 md:grid-cols-2 pt-3">
                {
                    artists.topartists.artist.map((e) => {
                        return <Card title={e.name} url={e.url} plays={e.playcount} image={e.image[3]['#text']} />
                    })
                }
            </div>
        </section>

        <section class="w-full h-auto">
            <h1 class="text-xl font-bold">Top Songs</h1>

            <div class="grid gap-x-4 gap-y-4 md:grid-cols-2 pt-3">
                {
                    songs.toptracks.track.map((e) => {
                        return <Card title={e.name} sub={e.artist.name} url={e.url} plays={e.playcount} image={e.image[3]['#text']} />
                    })
                }
            </div>
        </section>
    </main>
</Layout>
