---
const { title, sub, url, image, plays } = Astro.props
---

<div class={`group h-20 block px-2 py-[0.55rem] ring-1 ring-p-accent-2 bg-p-accent rounded-md truncate`}>
    <div class="flex">
        <div class="max-w-[4rem] flex flex-shrink-0 h-full">
            <img src={image} class="max-w-full h-full aspect-square flex-grow-0 rounded-md" draggable="false" alt="Spotify Stats" />
        </div>

        <div class={`flex flex-col w-auto mx-4 truncate ${!sub && 'justify-center'}`}>
            <a class="text-lg font-bold group-hover:underline truncate" href={url} title={title}>{title}</a>
            {sub && <p class="text-md text-p-secondary">{sub}</p>}
        </div>

        {
            plays && (
                <div class="self-center text-sm ring-1 ring-p-accent-3 text-p-accent-3 bg-p-accent-3 bg-opacity-5 ml-auto whitespace-nowrap mx-1 px-2 py-1 rounded-md">
                    {plays} Plays
                </div>
            )
        }
    </div>
</div>
