---
import Languages from '@modules/GetColor'
const { url, name, language, description, stars } = Astro.props
---

<section class="group max-w-lg h-auto mx-auto rounded-md relative py-4 px-2 bg-p-bg-secondary border border-slate-500 my-2 cursor-pointer">
    <div class="flex w-full justify-between">
        <div class="flex-col max-w-[20rem] truncate text-p-text">
            <a class="text-xl font-bold group-hover:underline font-space" href={url}>{name}</a>
            <p class="text-p-text-secondary truncate">{description || 'No Description'}</p>
        </div>

        <div class="flex-col text-right">
            <p class="text-md text-p-text">
                {stars}
                <i class="fa-solid fa-star ml-1 text-p-star"></i>
            </p>

            {
                language ? (
                    <p class="text-md text-p-text inline-flex items-center">
                        {language}
                        <i class={`inline-flex w-4 h-4 ml-1 border border-p-selection rounded-full ${Languages[language]}`} />
                    </p>
                ) : (
                    ''
                )
            }
        </div>
    </div>
</section>
